body{
         background-color: dimgrey;
         font-family: sans-serif;
      }
      .container{ 
         display: flex;
      }
      .row{
         background-image : linear-gradient(to right, darkgrey, lightgrey);
         border-radius:30px; 
      }
      #kg, #met{
         border-radius: 30px;
         font-size: 30px;
         text-align: center;
      }
      h1{
         font-weight: bolder;
      }
      img{
         margin-top: 120px;
         height: 400px;
         width: 400px;
      }
      p{
         color: gray;
      }
      #source{
         font-size: 12px;
      }
      #display{
         font-size: 30px;
         border-radius: 30px;
      }
